@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: url("./andrew-donovan-valdivia-b6axoCapx-Q-unsplash.jpg")  ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

header{
    height: 100px;
    background-color: rgb(221, 149, 90);
  
}
.nav_bar{
    display: flex;
    width: inherit;
   
    height: inherit;
   justify-content: space-between;
   align-items: center;
   padding-left: 5%;
   padding-right: 5%;
}

.coffee,.signin{
    text-align: center;
    text-decoration: none;
}

.coffee{
    font-family: pacifico;
    color: aliceblue;
    font-size: 32px;
    align-items: center;
}

.nav_sign_in{

    margin-right: 20px;
}
.nav_sign_in a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    
    padding: 11px;
    border-radius: 25%;
    background-color: rgb(139, 233, 143);
    font-family: "Baloo Tamma 2", cursive;
}


.section-1{
    display: flex;
    flex-direction: column;
    font-family: "Baloo Tamma 2", cursive;

}

/* .image{
    height: 800px;
    background: url("./andrew-donovan-valdivia-b6axoCapx-Q-unsplash.jpg") no-repeat center ;
    background-size: 100%;
    background-repeat: no-repeat;
} */

#sign-in{
    border-radius: 10px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
  
    margin: 10%;
    margin-left: 25%;
    margin-right: 25%;

}



#sign-up{
    border-radius: 10px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);

    margin: 10%;
    margin-left: 25%;
    margin-right: 25%;
}



.sign_in_head{
    align-items: center;
    font-size: 55px;
    color: white;
   
    margin-left: 35%;
    padding: 30px;
}
.sign_up_head{
    align-items: center;
    font-size: 55px;
    color: white;
   
    margin-left: 35%;
    padding: 30px;
}


form{
    color: white;
    font-size: 25px;
    
}

label{
    margin-left: 3% ;
}

input{
    display: flex;
    flex-direction: column;
    width: 93%;
    margin-left: 3%;
    margin-right: 4%;
    border: none;
    border-radius: 5px ;
    height: 30px;
}

footer{
    background-color:black ;
    color: white;
    font-family: "Baloo Tamma 2";
    display: flex;
    justify-content: center;
}
.btns{
    display: flex;
    flex-direction: column;

    
}

.submit, .google{
    
    margin-top: 20px;
   
    padding: 10px;
    text-transform: uppercase;
    border-radius: 25px;
    border: none;
    color: white;
  
}
.submit{
    background-color: #cc6200;
    margin-right: 40%;
    margin-left: 40%;
}
.google{
    background-color: rgb(23, 226, 131);
    margin-left: 3.7%;
    margin-right: 3.7%;
}

.no-account{
    margin-left: 30%;
    margin-top: 10px;
}


@media(max-width:460px){
    .sign_in_head{
        font-size: 20px;
        margin-left: 20%;
    }
    label{
        font-size: medium;
    }
    #sign-up{
        
    }
}